*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    /*  Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
ul{
    list-style: none;
}
a{
    cursor: pointer;
}
body{
    width:100%;
    height: 100vh;
    background: url(images/pattern-background-desktop.svg), var(--Pale-blue) ;
    background-position: top left;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;   
}
main .summary__card{
    position: relative;
    max-width: 450px;
    height: 700px;
    border-radius: 0.8rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}
.image__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    z-index: 2; 
}
.image__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* start styling summary__info */
.summary__info {
    position:relative;
    top: 225px;
    bottom: 0;
    padding: 2rem 3rem;
    text-align: center;  
}
.summary__info h1{
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: var(--Dark-blue);
}
.summary__info p{
    color: var(--Desaturated-blue);
    line-height: 1.6;
    padding: 1.1rem 2rem;
    font-weight: 500;
}
.annual__plan{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--Very-pale-blue); 
    border-radius: .8rem;
    padding: 1.5rem 1.2rem ;
}
/* start styling the annual__plan */
.annual__plan .annual__price{
    height: 53px;
    line-height: 27px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--Pale-blue);
    flex-grow: 1;
    margin-left: 1.2rem;
}
.annual__plan .annual__price .year__plan__span{
    color: var(--Dark-blue);
    font-weight: 900;
}
.annual__plan .annual__price .price__span{
    color: var(--Desaturated-blue);
    font-weight: 500;

}
.annual__plan .change__anchor a{
    color: var(--Bright-blue);
    font-weight: 700;
    transition: color .4s ease-in-out;
}
.annual__plan .change__anchor a:hover{
    color: hsl(245deg 79% 69%);
}
/* Strat styling the buttons */
.buttons{
    position: absolute;
    bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 3rem
}
.buttons>*{
    font-size: .9rem;
    font-weight: 700;
    font-family: inherit;
}
.proceed__payment__btn{
    background-color: var(--Bright-blue);
    color: #fff;
    border-radius: .8rem;
    padding: .8rem;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 14px hsl(245deg 80% 80%);
    transition: opacity .4 ease;
}
.proceed__payment__btn:hover{
    opacity: .9;
    cursor: pointer;
}
.cancel__order{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--Desaturated-blue);
    transition: all .4 ease;
}
.cancel__order:hover{
    color: hsl(245deg 79% 69%);
    cursor: pointer;
}
@media screen and (max-width: 540px){
    body{
        width:100%;
        height: 100vh;
        background: url(images/pattern-background-mobile.svg), var(--Pale-blue) ;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
    }
    .image__bg{
        height: 200px;
    }
    main .summary__card{
        max-width: 350px;
        height: 600px;
    }
    .summary__info {
        top: 200px;
        padding: 2rem;
    }
    .summary__info h1{
        font-size: 1.5rem;
    }
    .summary__info p{
        font-size: .85rem;
        padding:1rem;
    }
    .annual__plan{
        padding:.85rem ;
    }
    .annual__plan .annual__price, 
    .annual__plan .change__anchor a{
        font-size: .85rem;
    }
    .buttons{
        bottom:1rem;
        padding:2rem;
    }
    .attribution { 
        display: none;
    }
}
.attribution { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem; 
    text-align: center;
    width: 100%;
}
.attribution a { 
    color: var(--Bright-blue); 
}
